body {background-color: #112411; color: linen;}
A:link {color: #afdcaf;}
A:visited {color: #90a0b0;}
A:active {color: khaki;}

body.picture {background-color: #222222; color: khaki;}

* {
	box-sizing:border-box;
}

#header {
	display: flex;
	flex-direction: column;
}

#header .headline  {
	margin:auto;
}
#header .headline span {
	font-size:40px;
	margin:20px 40px;

}
#header .headline span.name  {
	font-size:70px;
}

#headerDetail {
	display: flex;
	flex-direction: row;
}

#headerDetail div {
	margin: 10px 50px;
}
#menu ul {
  list-style-type: none;
}


#header div.heroXXX  {
	flex-direction: column;
	font-size:40px;
	margin:auto;
	
}

#header .title {
	font-size:30px;
	margin:auto;
}
.section {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.section .headline  {
	margin:0px auto 0px 285px;
}
.section .headline span.name  {
	font-size:30px;
}

.section .headline span {
	font-size:20px;
	margin:10px;
} 

div.text {
	background-color:#EEE9CC;
	border-top:31px none;
	color:#000000;
	font-size:120%;
	padding:10px;
	width:58%;
	margin:20px auto 20px 180px;
}

.text .year {
	position:absolute;
	left:90px;
	color:linen;
}

.text .note {
	position:absolute;
	right:55px;
	color:linen;
	width:300px;
	font-family:arial;
	font-size:12px;
}

.text .noteRef {
	background-color:#ddeeff;
}
.text .picture {
	margin:auto;
}

.text .picture.medium { width:500px;  margin-bottom:20px; !important}
.text .picture.full   { width:690px; margin-bottom:20px; !important}
.text .picture.small  { width:340px; margin-bottom:7px; !important}
.text .picture.small.left  { float:left; margin-right:12px; text-align:center;}
.text .picture.small.right { float:right; margin-left:12px; text-align:center;}

.text .pictures {
	display: flex;
	flex-direction: row;
	justify-contentX:space-between;
	justify-content:space-evenly;
	flex-wrap:wrap;
}

.text .pictures img {
	margin-top: 10px;
	margin-bottomX:10px;
}

.text .pictures + .caption {
	display:block;
	text-align:center;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family:arial;
	font-size:14px;
}

.text .picture img {
	margin:auto;
	margin-bottom:5px;
}

.text .picture .caption {
	font-family:arial;
	font-size:14px;
	text-align:left;
}

.vertSpace10 { height:10px; clear:both; }
.vertSpace20 { height:20px; clear:both; }

.text p{
	margin-top:0;
}

table {
	width:80%;
	margin-left:20px;
}

td, th {
	color:black;
	font-family:arial;
}
th {
	text-align:left;
}
.tableCaption {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	margin-left:20px;
}
